.tt-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #aeea94;
  color: #4635b1;
}
.tt-btn:focus,
.tt-btn:focus-visible {
  background-color: lightgreen;
}

.card {
  background-color: #fffbca;
  display: grid;
  place-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #b771e5;
  height: 100vh;
  width: 100vw;
  gap: 5px;
}

.hover-span {
  background-color: #b771e5;
  color: #fffbca;
  padding: 4px 8px;
  border-radius: 12px;
  cursor: default;
}

.tt-container {
  position: relative;
}

.pos-top {
  position: absolute;
  background-color: black;
  background-color: black;
  bottom: 120%; /* Align tooltip above the element */
  left: 50%;
  transform: translateX(-50%);
}

.pos-right {
  position: absolute;
  background-color: black;
  top: -5px;
  right: -90px;
}

.pos-bottom {
  position: absolute;
  background-color: black;
  top: 120%;
  right: 50%;
  transform: translateX(50%);
}

.pos-left {
  position: absolute;
  background-color: black;
  left: -90px;
  top: -5px;
}

.btn {
  background-color: transparent;
}

/* button */

.pos-top-btn {
  position: absolute;
  background-color: black;
  bottom: 45px;
  right: 18px;
}

.pos-right-btn {
  position: absolute;
  background-color: black;
  top: 2px;
  right: -85px;
}

.pos-bottom-btn {
  position: absolute;
  background-color: black;
  bottom: -40px;
  right: 18px;
}

.pos-left-btn {
  position: absolute;
  background-color: black;
  left: -85px;
  top: 5px;
}

/* sidebar css */

.main-container-d14 {
  position: relative;
}

.sidebar-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
}

.sidebar {
  background: white;
  height: 100vh;
  width: 300px;
  color: black;
  padding: 10px;
  position: absolute;
  right: 0;
  animation: 0.5s slide-in;
}

@keyframes slide-in {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0px);
  }
}
