.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.accordion-icon-rotated {
  transform: translateY(2px) rotate(-135deg);
}

.content {
  background-color: orange;
  padding: 8px;
  animation: 1.3s alternate accordion-open;
  animation-timing-function: ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.label:hover {
  background-color: rgb(255, 213, 128);
}

.child-container-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes accordion-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
